{% extends 'base.html' %}
{% import 'components.html' as components %}

<!---->
{% macro education_item(degree) -%}
    <div class="job-item">
        <div class="job-item-info">
            <h2>{{ degree.title }}</h2>
            <span class="job-organization">{{ degree.organization }}</span>
            <span class="job-date">{{ degree.date }}</span>
        </div>
        <div class="job-item-logo">
            <img class="job-item-img" src="{{ degree.logo_url }}"/>
        </div>
    </div>
{%- endmacro %}

{% block header %}
    <span>Sambina Islam Aninta</span>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {{ components.menuBar(includeHome=true) }}
    {{ education_item({"title": "B.S. Computer Science", "organization": "Instituto Tecnológico y de Estudios Superiores de Monterrey", "date": "2019 - 2023", "logo_url": "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.ashoka.org%2Fsites%2Fdefault%2Ffiles%2Ftec-de-monterrey-logo.png&f=1&nofb=1"}) }}

{% endblock %}
