{% extends 'base.html' %}
{% import 'components.html' as components %}

<!---->
{% macro hobby(hobby_data) -%}
    <h2>{{ hobby_data.name }}</h2>
    <div class="hobby">
        {% for image_path in hobby_data.images %}
            <img src={{ image_path }}/>
        {% endfor %}
    </div>
{%- endmacro %}

{% block header %}

    <span>Sambina Islam Aninta</span>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {{ components.menuBar(includeHome=true) }}
    {% for hobby_item in hobby_list %}
        {{ hobby(hobby_item) }}
    {% endfor %}
{% endblock %}