{% extends 'base.html' %}
{% import 'components.html' as components %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="home-grid">

        <div class="home-img-container">
            <img src="../../static/img/oscar.jpeg" alt="Sambina">
        </div>

        <p>
            Hi! I'm Oscar, a Software Engineering student at Tec de Monterrey, Mexico, and
            a Production Engineering fellow at MLH!
            <br>
            I'm currently working in web development projects, but I'm also interested in ML and I have a cat :D
        </p>
    </div>


    {{ components.menuBar() }}

{% endblock %}